<!Doctype html>
<html>
<head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="https://drive.google.com/open?id=0B5hr-Z4E6IrVbTI1SFNkejZjQzRfMXN3bjFjSy04ZjI1WnZr
        " />
    <title>Welcome</title>
    <style>
     body{
         font-family:'Raleway', sans-serif;
     }
     .gif-style{
      width:50%;
    
     }
    </style>
</head>

<body>

    <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">

        <!-- START HEADER/BANNER -->

        <tbody>
            <tr>
                <td align="center">
                    <table style="border:1px solid #ccc;" class="col-600" width="600" border="0" align="center" cellpadding="0" cellspacing="0">
                <tr>
                <td>
                

                    <!-- header logo here -->
                    <table align="center" width="100%" border="0" cellpadding="0" cellspacing="0">
                        <tr>
                            <td height="95" bgcolor="#fff" align="center">

                        <table cellpadding="2" style="border-spacing:0;line-height: 0;" cellspacing="0" align="center" >
                            <tr>
                                <td >
                                    <img src="./9.jpg" height="150" width="139"/>
                                </td>
                                <td>
                                    <img src="./6.jpg" height="150" width="139"/>
                                </td>
                                <td>
                                    <img src="./10.jpg" height="150" width="139"/>
                                </td>
                                <td>
                                    <img src="./11.jpg" height="150" width="139"/>
                                </td>
                            </tr>
                            <tr>
                                    <td>
                                        <img src="./second.jpg" height="150" width="139"/>
                                    </td>
                                    <td>
                                        <img src="./third.jpg" height="150" width="139"/>
                                    </td>
                                    <td>
                                        <img src="./fourth.jpg" height="150" width="139"/>
                                    </td>
                                    <td>
                                        <img src="./fifth.jpg" height="150" width="139"/>
                                    </td>
                                </tr>
                                <tr>
                                        <td>
                                            <img src="./7.jpg" height="150" width="139"/>
                                        </td>
                                        <td>
                                            <img src="./8.jpg" height="150" width="139"/>
                                        </td>
                                        <td>
                                            <img src="./12.jpg" height="150" width="139"/>
                                        </td>
                                        <td>
                                            <img src="./13.jpg" height="150" width="139"/>
                                        </td>
                                    </tr>
                        </table> 
                          </td>
                        </tr>
                    </table>
                    <table align="center" width="100%" border="0" cellpadding="0" cellspacing="0">
                        <tr>
                            <td height="15" bgcolor="#fff" style="font-size: 0px; line-height: 2px;">&nbsp;</td>
                        </tr>
                    </table>
                    <table align="center" width="100%" border="0" cellpadding="0" cellspacing="0">
                            <tr>
                                <td height="18" bgcolor="#fff" style="text-align:center;">
                               <p style="font-size:38px;margin:0px;"> Welcome to Zypher</p>
                               <p style="margin:0px;">Rent books at affordable prices read them at your leisure,Return at your convenience.</p>
                                </td>
                            </tr>
                        </table>
                        <table align="center" width="80%" border="0" cellpadding="0" cellspacing="0">
                                <tr>
                                    <td height="20" bgcolor="#fff" >
                                           
                                    </td>
                                </tr>
                        </table>
                       
                    <table align="center" width="90%" border="0" cellpadding="0" cellspacing="0" style="line-height:22px;color:rgba(0,0,0,0.7);">
                                <tr>
                                    <td height="38" bgcolor="#fff" align="center">
                                            We thank you for choosing us and congratulate for on making the correct
                                           decision .We know you are going to love it.
                                    </td>
                                    
                                </tr>
                                <tr>
                                        <td  bgcolor="#fff" align="center">
                                                Begin browding through our extensive collection by logging into your account.
                                        </td>
                                        
                                </tr>
                                    <tr>
                                            <td  bgcolor="#fff" align="center">
                                                    Have a book already in your mind.? Rent it now.
                                            </td>
                                            
                                    </tr>
                                        <tr>
                                            <td bgcolor="#fff" align="center">
                                                        The world of books now available at your fingertips.
                                            </td>
                                                
                                        </tr>
                    </table>
                    <table   align="center"  style="font-size:14px;" width="100%"  border="0" cellpadding="0" cellspacing="0">
                        <tr>
                            <td height="38" >
                        </tr>
                    </table>
                    <table align="center"  style="font-size:14px;" width="100%" bgcolor="#fff" border="0" cellpadding="0" cellspacing="0">
                        <tr>
                            <td>
                            <table height="38" width="133" align="center">
                                <tr><td>ITEMS SHIPPED</td></tr>
                            </table>
                            </td>
                            <td>
                            <table height="38" width="160" align="center" width="133"></table>
                            </td>
                            <td>
                            <table height="38" width="100" align="center">
                                <tr><td>QTY</td></tr>
                            </table>
                            </td>
                            <td>
                             <table height="38" width="100" align="center">
                                <tr><td>Price</td></tr>
                             </table>
                             </td>
                        </tr>
                        <tr>
                            <td>
                            <table height="38"  width="133" align="center">
                                <tr><td>ITEMS SHIPPED</td></tr>
                            </table>
                            </td>
                            <td>
                            <table height="38" width="160" align="center" width="133"></table>
                            </td>
                            <td>
                            <table height="38" width="100" align="center">
                                <tr><td>QTY</td></tr>
                            </table>
                            </td>
                            <td>
                             <table height="38"  width="100" align="center">
                                <tr><td>Price</td></tr>
                             </table>
                             </td>
                        </tr> 

                        <tr>
                            <td>
                            <table  height="38" width="133" align="center">
                                <tr><td>ITEMS SHIPPED</td></tr>
                            </table>
                            </td>
                            <td>
                            <table height="38" width="160" align="center" width="133"></table>
                            </td>
                            <td>
                            <table height="38" width="100" align="center">
                                <tr><td>QTY</td></tr>
                            </table>
                            </td>
                            <td>
                             <table height="38" width="100" align="center">
                                <tr><td>Price</td></tr>
                             </table>
                             </td>
                        </tr> 
                        <tr>
                            <td>
                            <table height="38" width="133" align="center">
                                <tr><td>ITEMS SHIPPED</td></tr>
                            </table>
                            </td>
                            <td>
                            <table height="38"  width="160" align="center" width="133"></table>
                            </td>
                            <td>
                            <table height="38"  width="100" align="center">
                                <tr><td>QTY</td></tr>
                            </table>
                            </td>
                            <td>
                             <table height="38" width="100" align="center">
                                <tr><td>Price</td></tr>
                             </table>
                             </td>
                        </tr> 
                        <tr>
                            <td>
                            <table height="38"  width="133" align="center">
                                <tr><td>ITEMS SHIPPED</td></tr>
                            </table>
                            </td>
                            <td>
                            <table height="38" width="160" align="center" width="133"></table>
                            </td>
                            <td>
                            <table height="38" width="100" align="center">
                                <tr><td>QTY</td></tr>
                            </table>
                            </td>
                            <td>
                             <table height="38" width="100" align="center">
                                <tr><td>Price</td></tr>
                             </table>
                             </td>
                        </tr> 
                    </table>

                    <table align="center" width="100%" border="0" cellpadding="0" cellspacing="0">
                        <tr>
                            <td height="8" bgcolor="#fff" style="font-size: 0px; line-height: 2px;">&nbsp;</td>
                        </tr>
                    </table>
                    <table align="center" width="100%" bgcolor="#fce4d7" style="border:1px solid #ccc;" cellpadding="0" cellspacing="0">
                        <tr>
                            <td bgcolor="#fce4d7"  style="border-right:1px solid #ccc;">
                                <table bgcolor="#fce4d7"  align="center" width="200" border="0" cellpadding="0" style="margin-top:8px;" cellspacing="0">
                                    <tr>
                                        <td height="40" bgcolor="#fce4d7" style=" font-size:18px;color:#000;font-weight:600;">Summary</td>
                                    </tr>
                                    <tr>
                                        <td height="30" bgcolor="#fce4d7" style="color:#000;">First</td>
                                    </tr>
                                    <tr>
                                        <td  height="30" bgcolor="#fce4d7" style="color:#000;">First</td>
                                    </tr>
                                    <tr>
                                         <td height="30" bgcolor="#fce4d7" style="color:#000;">First</td>
                                    </tr>
                                    <tr>
                                        <td height="30" bgcolor="#fce4d7" style="color:#000;">First</td>
                                    </tr>
                                    <tr>
                                         <td height="30"  bgcolor="#fce4d7" style="color:#000;">First</td>
                                    </tr>
                                </table>
                                </td>
                                <td bgcolor="#fce4d7">
                                    <table bgcolor="#fce4d7" align="center" width="185" border="0" cellpadding="0" cellspacing="0" style="margin-top:8px;">
                                    <tr>
                                        <td height="40" bgcolor="#fce4d7" style=" font-size:18px;color:#000;font-weight: 600;">SHIPPING ADDRESS</td>
                                    </tr>
                                    <tr>
                                        <td height="30"  bgcolor="#fce4d7" style="color:#000;">First</td>
                                    </tr>
                                    <tr>
                                        <td height="30"  bgcolor="#fce4d7" style="color:#000;">First</td>
                                    </tr>
                                    <tr>
                                        <td height="30" bgcolor="#fce4d7" style="color:#000;">First</td>
                                    </tr>
                                     <tr>
                                        <td height="30" bgcolor="#fce4d7" style="color:#000;">First</td>
                                    </tr>
                                    <tr>
                                        <td height="30" bgcolor="#fce4d7" style="color:#000;">First</td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </td>
                </tr>
                </table>
                </td>
                </tr>

   
    <tr>
        <td height="5"></td>
    </tr>

    </tbody>
    </table>

</body>

</html>