<!Doctype html>
<html>
<head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="https://drive.google.com/open?id=0B5hr-Z4E6IrVbTI1SFNkejZjQzRfMXN3bjFjSy04ZjI1WnZr
        " />
    <title>Welcome</title>
    <style>
     body{
         font-family:'Raleway', sans-serif;
     }
     .gif-style{
      width:50%;
    
     }
    </style>
</head>

<body>

    <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">

        <!-- START HEADER/BANNER -->

        <tbody>
            <tr>
                <td align="center">
                    <table style="border:1px solid #ccc;" class="col-600" width="600" border="0" align="center" cellpadding="0" cellspacing="0">
                <tr>
                <td>
                

                    <!-- header logo here -->
                    <table align="center" width="100%" border="0" cellpadding="0" cellspacing="0">
                        <tr>
                            <td height="95" bgcolor="#fff" align="center">

                        <table cellpadding="2" style="border-spacing:0;line-height: 0;" cellspacing="0" align="center" >
                            <tr>
                                <td >
                                    <img src="./9.jpg" height="150" width="139"/>
                                </td>
                                <td>
                                    <img src="./6.jpg" height="150" width="139"/>
                                </td>
                                <td>
                                    <img src="./10.jpg" height="150" width="139"/>
                                </td>
                                <td>
                                    <img src="./11.jpg" height="150" width="139"/>
                                </td>
                            </tr>
                            <tr>
                                    <td>
                                        <img src="./second.jpg" height="150" width="139"/>
                                    </td>
                                    <td>
                                        <img src="./third.jpg" height="150" width="139"/>
                                    </td>
                                    <td>
                                        <img src="./fourth.jpg" height="150" width="139"/>
                                    </td>
                                    <td>
                                        <img src="./fifth.jpg" height="150" width="139"/>
                                    </td>
                                </tr>
                                <tr>
                                        <td>
                                            <img src="./7.jpg" height="150" width="139"/>
                                        </td>
                                        <td>
                                            <img src="./8.jpg" height="150" width="139"/>
                                        </td>
                                        <td>
                                            <img src="./12.jpg" height="150" width="139"/>
                                        </td>
                                        <td>
                                            <img src="./13.jpg" height="150" width="139"/>
                                        </td>
                                    </tr>
                        </table> 
                          </td>
                        </tr>
                    </table>
                    <table align="center" width="100%" border="0" cellpadding="0" cellspacing="0">
                        <tr>
                            <td height="15" bgcolor="#fff" style="font-size: 0px; line-height: 2px;">&nbsp;</td>
                        </tr>
                    </table>
                    <table align="center" width="100%" border="0" cellpadding="0" cellspacing="0">
                            <tr>
                                <td height="18" bgcolor="#fff" style="text-align:center;">
                               <p style="font-size:38px;margin:0px;"> Welcome to Zypher</p>
                               <p style="margin:0px;">Rent books at affordable prices read them at your leisure,Return at your convenience.</p>
                                </td>
                            </tr>
                        </table>
                        <table align="center" width="80%" border="0" cellpadding="0" cellspacing="0">
                                <tr>
                                    <td height="20" bgcolor="#fff" >
                                           
                                    </td>
                                </tr>
                        </table>
                       
                    <table align="center" width="90%" border="0" cellpadding="0" cellspacing="0" style="line-height:22px;color:rgba(0,0,0,0.7);">
                                <tr>
                                    <td height="38" bgcolor="#fff" align="center">
                                            We thank you for choosing us and congratulate for on making the correct
                                           decision .We know you are going to love it.
                                    </td>
                                    
                                </tr>
                                <tr>
                                        <td  bgcolor="#fff" align="center">
                                                Begin browding through our extensive collection by logging into your account.
                                        </td>
                                        
                                </tr>
                                    <tr>
                                            <td  bgcolor="#fff" align="center">
                                                    Have a book already in your mind.? Rent it now.
                                            </td>
                                            
                                    </tr>
                                        <tr>
                                            <td bgcolor="#fff" align="center">
                                                        The world of books now available at your fingertips.
                                            </td>
                                                
                                        </tr>
                    </table>
                    <table   align="center"  style="font-size:14px;" width="100%"  border="0" cellpadding="0" cellspacing="0">
                        <tr>
                            <td height="38" >
                        </tr>
                    </table>

                    <table cellpadding="2" style="border-spacing:0;line-height: 0;" cellspacing="0" align="center" >
                        <tr>
                            <td >
                                <img src="./17.png" height="150" width="139"/>
                            </td>
                            <td>
                                <img src="./18.png" height="150" width="139"/>
                            </td>
                            <td>
                                <img src="./19.png" height="150" width="139"/>
                            </td>
                            <td>
                                <img src="./20.png" height="150" width="139"/>
                            </td>
                        </tr>
                        <tr>
                                <td>
                                    <img src="./16.png" height="150" width="139"/>
                                </td>
                                <td>
                                    <img src="./21.png" height="150" width="139"/>
                                </td>
                                <td>
                                    <img src="./22.png" height="150" width="139"/>
                                </td>
                                <td>
                                    <img src="./23.png" height="150" width="139"/>
                                </td>
                            </tr>
                           
                    </table> 
                    <table align="center" width="100%" border="0" cellpadding="0" cellspacing="0">
                        <tr>
                            <td height="15" bgcolor="#fff" style="font-size: 0px; line-height: 2px;">&nbsp;</td>
                        </tr>
                    </table>
                    <table align="center" width="100%" border="0" cellpadding="0" cellspacing="0">
                        <tr>
                            <td height="18" bgcolor="#fff" style="text-align:center;">
                           <p style="font-size:38px;margin:0px;"> Choose What you see</p>
                            </td>
                        </tr>
                    </table>
                    <table align="center" width="100%" border="0" cellpadding="0" cellspacing="0">
                        <tr>
                            <td height="15" bgcolor="#fff" style="font-size: 0px; line-height: 2px;">&nbsp;</td>
                        </tr>
                    </table>
                    <table align="center" width="90%" border="0" cellpadding="0" cellspacing="0" style="line-height:32px;color:rgba(0,0,0,0.7);">
                        <tr>
                            <td height="38" bgcolor="#fff" align="center">
                                It doesn't matter wheather you want to fall in love or to boost
                            </td>
                            
                        </tr>
                        <tr>
                                <td  bgcolor="#fff" align="center">
                                    your confidence,or brush up your knowledge about or get lost in
                                </td>
                                
                        </tr>
                            <tr>
                                    <td  bgcolor="#fff" align="center">
                                        the world of fantasy,or even start-up your own business
                                    </td>
                                    
                            </tr>
                                <tr>
                                    <td bgcolor="#fff" align="center">
                                        we have got you covered .
                                    </td>
                                        
                                </tr>
                     </table>
                     <table align="center" width="600" border="0" cellpadding="0" cellspacing="0">
                        <tr>
                            <td height="15" align="center"vbgcolor="#fff" style="font-size: 0px; line-height: 2px;">
                                <button
                                style="padding:14px;border:none;border-radius:8px;width:50%;letter-spacing: 1px; background:#F37621;color:#fff;">Find
                                people to follow</button></td>
                        </tr>
                    </table>
                            </td>
                        </tr>
                    </table>
                </td>
                </tr>
                </table>
                </td>
                </tr>

   
    <tr>
        <td height="5"></td>
    </tr>

    </tbody>
    </table>

</body>

</html>