<!Doctype html>
<html>
<head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="https://drive.google.com/open?id=0B5hr-Z4E6IrVbTI1SFNkejZjQzRfMXN3bjFjSy04ZjI1WnZr
        " />
    <title>Welcome</title>
    <style>
     body{
         font-family:'Raleway', sans-serif;
     }
     .gif-style{
      width:50%;
    
     }
    </style>
</head>

<body>

    <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">

        <!-- START HEADER/BANNER -->

        <tbody>
            <tr>
                <td align="center">
                    <table style="border:1px solid #ccc;" class="col-600" width="600" border="0" align="center" cellpadding="0" cellspacing="0">
                <tr>
                <td>
                    <!-- spacer -->
                    <table align="center" width="100%" border="0" cellpadding="0" cellspacing="0">
                        <tr>
                            <td height="22" bgcolor="#fff" style="font-size: 0px; line-height: 2px;">&nbsp;</td>
                        </tr>
                    </table>

                    <!-- header logo here -->
                    <table align="center" width="100%" border="0" cellpadding="0" cellspacing="0">
                        <tr>
                            <td height="95" bgcolor="#F37621" align="right">

                                <image style=" width:36%;height:80%;margin-right:5%;" src="./logo.png" height="100" width="100" />
                            </td>
                        </tr>
                    </table>
                    <table align="center" width="100%" border="0" cellpadding="0" cellspacing="0">
                        <tr>
                            <td height="8" bgcolor="#fff" style="font-size: 0px; line-height: 2px;">&nbsp;</td>
                        </tr>
                    </table>
                    <table align="center" width="100%" border="0" cellpadding="0" cellspacing="0">
                            <tr>
                                <td height="18" bgcolor="#fff" style="text-align:center;font-size:22px;">
                               <h3> Your order is on its way</h3>

                               <img class="gif-style" src="./truck-loop.gif" />
                                </td>
                            </tr>
                            <tr>
                                <td  bgcolor="#fff" align="center">
                                    <button style="background:#F37621;border:none;color:#fff;padding:8px;border-radius:6px;font-weight:600;letter-spacing: 1px;">TRACK YOUR ORDER</button>
                                </td>
                            </tr>
                        </table>
                       
                    <table align="center" width="100%" border="0" cellpadding="0" cellspacing="0">
                                <tr>
                                    <td height="38" bgcolor="#fff" style="font-size: 0px; line-height: 2px;">&nbsp;</td>
                                </tr>
                    </table>
                    <table   align="center" height="60" style="font-size:14px;" width="100%" bgcolor="#fce4d7" border="0" cellpadding="0" cellspacing="0">
                        <tr>
                            <td height="38" >
                            <!-- another table -->
                            <table width="133" align="center">
                                <tr><th>ITEMS SHIPPED</th></tr>
                            </table>
                            </td>
                            <td>
                            <table width="160" align="center" width="133"></table>
                            </td>
                            <td>
                            <table width="100" align="center">
                                <tr><td>QTY</td></tr>
                            </table>
                            </td>
                            <td>
                             <table width="100" align="center">
                                <tr><td>Price</td></tr>
                             </table>
                             </td>
                        </tr>
                    </table>
                    <table align="center"  style="font-size:14px;" width="100%" bgcolor="#fff" border="0" cellpadding="0" cellspacing="0">
                        <tr>
                            <td>
                            <table height="38" width="133" align="center">
                                <tr><td>ITEMS SHIPPED</td></tr>
                            </table>
                            </td>
                            <td>
                            <table height="38" width="160" align="center" width="133"></table>
                            </td>
                            <td>
                            <table height="38" width="100" align="center">
                                <tr><td>QTY</td></tr>
                            </table>
                            </td>
                            <td>
                             <table height="38" width="100" align="center">
                                <tr><td>Price</td></tr>
                             </table>
                             </td>
                        </tr>
                        <tr>
                            <td>
                            <table height="38"  width="133" align="center">
                                <tr><td>ITEMS SHIPPED</td></tr>
                            </table>
                            </td>
                            <td>
                            <table height="38" width="160" align="center" width="133"></table>
                            </td>
                            <td>
                            <table height="38" width="100" align="center">
                                <tr><td>QTY</td></tr>
                            </table>
                            </td>
                            <td>
                             <table height="38"  width="100" align="center">
                                <tr><td>Price</td></tr>
                             </table>
                             </td>
                        </tr> 

                        <tr>
                            <td>
                            <table  height="38" width="133" align="center">
                                <tr><td>ITEMS SHIPPED</td></tr>
                            </table>
                            </td>
                            <td>
                            <table height="38" width="160" align="center" width="133"></table>
                            </td>
                            <td>
                            <table height="38" width="100" align="center">
                                <tr><td>QTY</td></tr>
                            </table>
                            </td>
                            <td>
                             <table height="38" width="100" align="center">
                                <tr><td>Price</td></tr>
                             </table>
                             </td>
                        </tr> 
                        <tr>
                            <td>
                            <table height="38" width="133" align="center">
                                <tr><td>ITEMS SHIPPED</td></tr>
                            </table>
                            </td>
                            <td>
                            <table height="38"  width="160" align="center" width="133"></table>
                            </td>
                            <td>
                            <table height="38"  width="100" align="center">
                                <tr><td>QTY</td></tr>
                            </table>
                            </td>
                            <td>
                             <table height="38" width="100" align="center">
                                <tr><td>Price</td></tr>
                             </table>
                             </td>
                        </tr> 
                        <tr>
                            <td>
                            <table height="38"  width="133" align="center">
                                <tr><td>ITEMS SHIPPED</td></tr>
                            </table>
                            </td>
                            <td>
                            <table height="38" width="160" align="center" width="133"></table>
                            </td>
                            <td>
                            <table height="38" width="100" align="center">
                                <tr><td>QTY</td></tr>
                            </table>
                            </td>
                            <td>
                             <table height="38" width="100" align="center">
                                <tr><td>Price</td></tr>
                             </table>
                             </td>
                        </tr> 
                    </table>

                    <table align="center" width="100%" border="0" cellpadding="0" cellspacing="0">
                        <tr>
                            <td height="8" bgcolor="#fff" style="font-size: 0px; line-height: 2px;">&nbsp;</td>
                        </tr>
                    </table>
                    <table align="center" width="100%" bgcolor="#fce4d7" style="border:1px solid #ccc;" cellpadding="0" cellspacing="0">
                        <tr>
                            <td bgcolor="#fce4d7"  style="border-right:1px solid #ccc;">
                                <table bgcolor="#fce4d7"  align="center" width="200" border="0" cellpadding="0" style="margin-top:8px;" cellspacing="0">
                                    <tr>
                                        <td height="40" bgcolor="#fce4d7" style=" font-size:18px;color:#000;font-weight:600;">Summary</td>
                                    </tr>
                                    <tr>
                                        <td height="30" bgcolor="#fce4d7" style="color:#000;">First</td>
                                    </tr>
                                    <tr>
                                        <td  height="30" bgcolor="#fce4d7" style="color:#000;">First</td>
                                    </tr>
                                    <tr>
                                         <td height="30" bgcolor="#fce4d7" style="color:#000;">First</td>
                                    </tr>
                                    <tr>
                                        <td height="30" bgcolor="#fce4d7" style="color:#000;">First</td>
                                    </tr>
                                    <tr>
                                         <td height="30"  bgcolor="#fce4d7" style="color:#000;">First</td>
                                    </tr>
                                </table>
                                </td>
                                <td bgcolor="#fce4d7">
                                    <table bgcolor="#fce4d7" align="center" width="185" border="0" cellpadding="0" cellspacing="0" style="margin-top:8px;">
                                    <tr>
                                        <td height="40" bgcolor="#fce4d7" style=" font-size:18px;color:#000;font-weight: 600;">SHIPPING ADDRESS</td>
                                    </tr>
                                    <tr>
                                        <td height="30"  bgcolor="#fce4d7" style="color:#000;">First</td>
                                    </tr>
                                    <tr>
                                        <td height="30"  bgcolor="#fce4d7" style="color:#000;">First</td>
                                    </tr>
                                    <tr>
                                        <td height="30" bgcolor="#fce4d7" style="color:#000;">First</td>
                                    </tr>
                                     <tr>
                                        <td height="30" bgcolor="#fce4d7" style="color:#000;">First</td>
                                    </tr>
                                    <tr>
                                        <td height="30" bgcolor="#fce4d7" style="color:#000;">First</td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </td>
                </tr>
                </table>
                </td>
                </tr>

   
    <tr>
        <td height="5"></td>
    </tr>

    </tbody>
    </table>

</body>

</html>